body{
    background-color: #012326;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#070707;
}
.yhteystiedot{
    background-color: #012840;
    color:#F205B3;
    text-shadow: 1px 1px 1px black;
    width: 330px;
    height: 160px;
    border: 5px solid #023059;
    margin-block-end: auto;
    margin-block-start: auto;
}

.yhteystiedot ul{
    font-family: 'Racing Sans One', sans-serif;
}

.yhteystiedot li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1, h2{
    text-align: center;
    margin: auto;
    background-color: #012840;
    font-family: 'Racing Sans One', sans-serif;
    color:#F205B3;
    text-shadow: 2px 2px 2px #070707;
}

h3{
    text-align: center;
    margin: auto;
    font-family: 'Racing Sans One', sans-serif;
    color:#012840;
    text-shadow: 1px 1px 1px white;

}
.container{
    border-radius:1cm;
    border: 2px solid #F205B3;
    max-width: 550px;
    font-size: 14px;
    margin:auto;
    text-align: center;
    background-color: #012840;
    padding-bottom: 10px;
    padding-top:10px;
    width: 550px;
}

.label{
    color: #F205B3;
    position:relative;
    align-items:flex-end;
    font-size: 14px;
    text-shadow: 1px 1px 1px black;
}

.selectlist{
    width: 10em;
    height: 30px;
    margin: 1px auto;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    text-align-last: right;
    padding-right: 29px;
    background-color: #023059;
    color: #F205B3;
    text-shadow: 1px 1px 1px #070707;
    border-radius: 10px;
}

#tulostaulu{
    border-collapse: collapse;
    width: 25em;
    margin: 25px auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #012840;
    font-size: 14px;
    max-height: fit-content;
    color: white;
    text-shadow: 1px 1px 1px #070707;
    
}

#tulostaulu table, th, td{
    border: 2px solid;
    border-radius: 10px;
    font-family: 'Racing Sans One', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #070707;
}

#tulostaulu td{
    border: 2px solid;
    border-radius: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tulostaulu table{
    width: 25em;
    margin: 25px auto;
    margin-left: auto;
    margin-right: auto;

}

#submit{
    width: 10em;
    margin: 1px auto;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    text-align-last: right;
    padding-right: 50px;
    background-color: #023059;
    color: #F205B3;
    text-shadow: 1px 1px 1px #070707;
    border-radius: 10px;
    text-align: center;
    font-family: 'Racing Sans One', sans-serif;
}

.video{
    padding-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container { 
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row ;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.kartta{
    background-image: url("https://i.ibb.co/80J5Ltd/MUSTAT-RENKAAT-KARTTA.jpg");
    width:400px;
    height: 200px;
    margin-block-end: auto;
    margin-block-start: auto;
    margin-right:200px;
}

.logo{
    background-image: url("https://i.ibb.co/0mjqg3J/logo-light.jpg");
    width: 300px;
    height: 150px;
    margin-block-end: auto;
    margin-block-start: auto;
    margin-right:200px;
}

.kesamainos{
    background-image: url("https://i.ibb.co/NrXTKY3/jairph-7p-T4-LWf-ORS0-unsplash.jpg");
    width:420px;
    height:560px;
    
    text-align: center;
    margin-block-end: auto;
    margin-block-start: auto;
    margin-left: 100px;
    border-radius: 5%;
}

.talvimainos{
    background-image: url("https://i.ibb.co/3RKvh0y/pexels-pixabay-416728.jpg");
    width:420px;
    height:330px;
    text-align: center;
    margin-block-end: auto;
    margin-block-start: auto;
    margin-right: 100px;
    border-radius: 5%;
    
}


/* .varit{ colour palette what we were able to use on this school assignment
    color: #F205B3;
    color: #012326;
    color: #034001;
    color: #012840;
    color: #023059;
} */

